*::after{
  box-sizing: border-box;
}
body{
  font-family: helvetica;
  font-size: 18px;
  background: repeating-linear-gradient(
  90deg,
  rgb(176, 176, 174),
  rgb(181, 189, 247),
  rgb(187, 250, 199),
  rgb(252, 202, 202),
  rgb(255, 255, 255));
    margin: 0;
}

body::before {
  content:'';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.container{
  width: 50%;
  margin: 3.125rem auto 0 auto;
}

form{
  background: RGB(227, 207, 141);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-group{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

label{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea{
  margin: 0;
  font-family: inherit;
  font-size:inherit;
  line-height: inherit;
}

.form-control{
  display: block;
  width: 95%;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 0.25rem
}

.input-textarea{
  min-height: 120px;
  width: 50%;
  padding: 0.625rem;
  resize:vertical;
}