<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
    <body>
        <div class="container">
            <h1>Housing Price Predictor for King County, Washington</h1>
            <p>This model uses information from a housing database from 2014-2015 to predict the price of a house in King Country. If only houses were still
              at these prices!
            </p>
            <div class='form-group'>
              <form action="{{ url_for('predict') }}"method="post">
                  <input type="text" class='form-control' name="bedrooms" placeholder="Number of bedrooms" required="required" /><br>
                  <input type="text" class='form-control' name="bathrooms" placeholder="Number of bathrooms" required="required" /><br>
                  <input type="text" class='form-control' name="sqft_living" placeholder="Living area square feet" required="required" /><br>
                  <input type="text" class='form-control' name="floors" placeholder="Number of floors" required="required" /><br>
                  <input type="text" class='form-control' name="condition" placeholder="Condition of house (1 - 5)" required="required" /><br>
                  

                  <button type="submit" class='btn btn-primary btn-block btn-Large'>Predict</button>
              </form>
            </div>
            <br>
            <br>
            <h1>{{ prediction_text }}</h1>
        </div>
    </body>
</html>